/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
h1 {
  background: lightskyblue;
  margin: 0;
}
.instructions {
  background: rgb(207, 225, 243);
}
h1,
.instructions {
  text-align: center;
  padding: 15px;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-step {
  margin-bottom: 20px;
}

.form-step h2 {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  background-color: lightskyblue;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:disabled {
  background-color: #ccc;
}

.buttons button:hover:enabled {
  background-color: #0056b3;
}
